<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.disqusoauthexample.disqus_oauth_example">
	<uses-sdk />
	<application android:label="Disqus OAuth Example"></application>
</manifest>